@using Natale.Models
@{
           ViewBag.Title = " Request Toys Kids";
}
@model Richeste
<div class="row">
    <div class="col-xs-8">
        <h2 style="text-align:center;">Toys</h2>
    </div>
</div>

@if (Session["ScreenName"] != null)
{
    if (Session["ScreenName"].ToString() == "FabulousZiggy")
    {
            <table class="table">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Kid</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var request in Model.EntityList)
                    {
                        <tr>
                            @if (request.Status == 0)
                            {
                                var status = "In Progress";
                                <td>
                                    @Html.ActionLink(status, "Details", new { id = request.ID })
                                </td>
                            }
                            <td>
                                @Html.ActionLink(request.Date.ToString("dd-MMM-yyyy"), "Details", new { id = request.ID })
                            </td>
                            <td>
                                @Html.ActionLink(request.KidName, "Details", new { id = request.ID })
                            </td>
                            <td>
                    
                            </td>

                   
                        </tr>
                    }
                </tbody>
            </table>
    }
    else if (Session["ScreenName"].ToString() == "SantaTheBest")/*     Tabelle per santa*/
    {
            <table class="table">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Kid</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var request in Model.EntityList)
                    {
                    <tr>
                        @if (request.Status == 0)
            {
                    <td>
                        @Html.ActionLink(request.Status.ToString(), "Details", new { id = request.ID })
                    </td>
                        }
                        <td>
                            @Html.ActionLink(request.Date.ToString("dd-MMM-yyyy"), "Details", new { id = request.ID })
                        </td>
                        <td>
                            @Html.ActionLink(request.KidName, "Details", new { id = request.ID })
                        </td>
                        <td></td>


                    </tr>
                    }
                </tbody>
            </table>

    }
}
else
{
    <h1>Non sei autorizzato a vedere</h1>
}
